body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  border: solid 2px #1c89ff;
  border-radius: 18px;
  margin: 30px;
}
p {
  color: white;
  word-wrap: break-word;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
textarea,
input[type="datetime-local"] {
  width: 200px;
  margin-bottom: 10px;
}
button[type="submit"] {
  width: 80%;
  margin: 10px 10%;
  display: flex;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
.newItemButton {
  display: flex;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.deleteButton {
  margin: 0 25%;
  width: 50%;
  display: flex;
  height: 36px;
  border-radius: 18px;
  background-color: white;
  border: solid 1px transparent;
  color: #007aca;
  font-size: 18px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
.checkboxDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}
.itemCard {
  margin: 10px;
  display: flex;
  width: 200px;
  height: 350px;
  background-color: #1c89ff;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px transparent;
  border-radius: 18px;
  padding: 10px;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20%;
}
.checkboxLabel {
  color: white;
}
.newItemForm {
  display: none;
}
